/b2g/
/node_modules/
/gaia-symlink
/b2g-bindir-symlink
/b2g-builddir-symlink
/b2g-srcdir-symlink
/arbpl-dir-symlink
/test-profile
/test-logs
/fake-imap-server-profile
/fake-activesync-server-profile
*~
.tern-port