[submodule "addon-sdk"]
	path = addon-sdk
	url = git://github.com/mozilla/addon-sdk.git
[submodule "deps/wmsy"]
	path = deps/wmsy
	url = git://github.com/asutherland/wmsy.git
[submodule "node-deps/iconv-lite"]
	path = node-deps/iconv-lite
	url = git://github.com/asutherland/iconv-lite.git
[submodule "node-deps/mailparser"]
	path = node-deps/mailparser
	url = git://github.com/andris9/mailparser.git
[submodule "node-deps/mimelib"]
	path = node-deps/mimelib
	url = git://github.com/andris9/mimelib.git
[submodule "deps/stringencoding"]
	path = deps/stringencoding
	url = https://code.google.com/p/stringencoding/
