/b2g/
/node_modules/
/gaia-symlink
/b2g-bindir-symlink
/b2g-builddir-symlink
/b2g-srcdir-symlink
/arbpl-dir-symlink
/test-profile
/test-logs
/fake-imap-server-profile
/fake-activesync-server-profile
/generic-profile
*~
.tern-port
.DS_Store
logic-inspector/logic-inspector.min.js
logic-inspector/test-logs
logic-inspector/node_modules
