body {
  font: 12px Helvetica, sans-serif;
}

.Event {
  padding: 0.1rem 1rem;
}
.Event.kv-level-error {
  background: #fee;
}

.event-time {
  padding-right: 1rem;
  opacity: 0.4;
}

.kv-namespace-LegacyGelamTest.kv-type-group {
  font-size: 2em;
  border-top: 2px solid grey;
}
.kv-namespace-LegacyGelamTest.kv-type-step-begin {
  border-top: 1px solid green;
}

.event-details {
  padding-left: 1rem;
  opacity: 0.5;
}

.event-namespace {
  font-weight: bold;
  display: inline-block;
  width: 12em;
}

.asyncType-then path, .asyncType-then {
  stroke-dasharray: 4, 8;
  stroke-opacity: 0.2;
}

.TestResults:before {
  content: '▶';
  float: left;
  margin-top: 3px;
  margin-right: 1em;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.TestResults.expanded:before {
  transform: rotate(90deg);
}

.result-pass .TestResultHeader {
  color: #0c0;
}

.result-fail .TestResultHeader {
  color: #c00;
}
.TestResultHeader:before {
  content: 'Fail';
  display: inline-block;
  background: #c00;
  color: white;
  border-radius: 3px;
  width: 4em;
  height: 1.8em;
  line-height: 2em;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  margin-right: 1em;
  vertical-align: middle;
}
.result-pass .TestResultHeader:before {
  background: #0c0;
  content: 'Pass';
}

.TestResultHeader {
  cursor: pointer;
}
.TestResultHeader:hover {
  text-decoration: underline;
}

.TestResults .EventList {
  display: none;
}

.TestResults.expanded .EventList {
  display: block;
}