@import url(index.css);
@import url(file-results.css);

body {
  margin: 0;
  padding: 0;
  background: #efefef;
  font: 12px Helvetica, sans-serif;
}



.index-link {
  text-decoration: none;
  display: block;
  width: 20em;
  padding: 1em;
}

.index-header {
  background: white;
  padding: 1em;
}
